h1 {
    text-align: center;
background-color: rgb(165, 6, 6);
text-shadow: 0 0 10px black,0 0 5px black, 0 0 2px black;
color:white
}



body{
    background-color:white;

}
img{
    background-color: rgb(172, 158, 112);
    border-radius: 4px;
}
fieldset{
    background-color: white;
}
legend{
    text-shadow: 0 0 10px black,0 0 5px black, 0 0 2px black;
    color: white;
    
}
h2 {
    text-align: center;
    background-color: white;
    font-family: Arial,sans-serif;
    background-color: rgb(139, 0, 0);
    text-shadow: 0 0 10px black,0 0 5px black, 0 0 2px black;
    color:white
}


h3{
    text-align: center;
    background-color: white;

}

td{
    background-color: white;
}
h4{
    text-align: center;
    text-shadow: 0 0 10px black,0 0 5px black, 0 0 2px black; 
    font-family: Arial,sans-serif;
    color:white
}

